body {

    // @media (min-width: 1200px)
    // .container, .container-lg, .container-md, .container-sm, .container-xl {
    //     max-width: 1400px;
    // }

    .top-btn {
        width: 70px;
        height: 70px;
        // display: none;
        padding: 7px;

        position: fixed;
        z-index: 2;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;

        background-color: #A0E1F2;
        font-size: 22px;
        color: #192B54;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        line-height: 22px;
        // &::before{
        //     width: 10px;
        //     height: 10px;
        //     content: '^';
        // }
        &:hover {
            transform: translateY(-10px);
        }
    }

    section#banner {
        margin-top: 30px;

        @media (max-width: 991px) {
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            margin-top: 40px;
        }

        .carousel-inner {
            .carousel-item {
                img {
                    width: 100%;
                }
            }
        }
    }

    section#service {
        height: 1000px;
        opacity: 0;
        transition: 0.5s ease-in-out;
        position: relative;

        @media screen and (max-width: 991px) {
            height: auto;
        }
        .container {
            @media (min-width: 576px) {
                max-width: 90%;
            }

            h3 {
                font-weight: 600;
            }
            p{
                font-size: 24px;
            }
            a {
                width: 160px;
                height: 50px;

                position: absolute;
                bottom: 10px;
                left: calc(50% - 80px);
                padding: 12px;

                font-size: 18px;
                text-decoration: none;

                border-radius: 10px;
                background-color: #F79311;
                color: #FFFFFF;

                transition: 0.5s ease-in-out;
                @media screen and (max-width: 991px) {
                    position: static;
                }
                &:hover{
                    background-color: #FFD600;
                    color: #5c5c5c;
                }
            }

            .hoverzoom {
                height: 650px;
                padding: 20px;

                @media screen and (max-width: 1436px) {
                    height: 700px;
                }

                @media screen and (max-width: 1161px) {
                    height: 750px;
                }

                @media screen and (max-width: 991px) {
                    height: auto;
                    margin-bottom: 20px;
                }

            }

            // #card-1{
            //     animation-delay: 0.5s;
            //     // animation: dropDown 0.75s ease-in-out;
            // }
            // #card-2{
            //     animation-delay: 0.25s;
            //     // animation: dropDown 0.5s ease-in-out;
            // }
            // #card-3{
            //     animation: dropDown 0.25s ease-in-out;
            // }
        }


    }

    // section#expected-benefit {
    //     .container{
    //         @media screen and (min-width: 1200px) {
    //             max-width: 1400px;
    //         }
    //         .row{
    //             div{
    //                 margin-bottom: 40px;
    //             }
    //         }
    //     }

    // }

    // section#system {
    //     .card {
    //         height: 500px;

    //         @media screen and (max-width: 767px) {
    //             height: 450px;
    //         }

    //         div {
    //             height: 450px;
    //             padding: 20px 10px;

    //             img {
    //                 width: 200px;
    //                 border-radius: 50%;
    //                 border: solid 3px #025B83;
    //                 background-color: #025B83;
    //                 margin-left: calc(50% - 100px);

    //                 &:hover {
    //                     background-color: #238bba;
    //                     border: solid 3px #238bba;
    //                 }

    //                 transition-duration: 0.5s;
    //             }

    //             @media screen and (max-width: 767px) {
    //                 height: 400px;
    //             }
    //         }

    //     }
    // }

    section#about {
        // opacity: 0;
        transition: 0.5s ease-in-out;
        overflow: hidden;
        @media (max-width: 991px) {
            padding: 40px 0px;
        }
        #about-content{
            transform: translateX(-1000px);
            transition: 1s ease-in-out;
            z-index: 0;
            @media screen and (max-width: 991px) {
                transform: translateX(0px) translateY(-1000px);
            }
        }
        #about-img{
            padding: 0px;
            transform: translateX(1000px);
            transition: 1s ease-in-out;
            @media screen and (max-width: 991px) {
                transform: translateX(0px) translateY(1000px);
            }
        }
        img {
            height: auto;
            padding: 0px;
        }

        p {
            font-size: 20px;
        }
    }

    section#contact {
        height: 900px;
        // opacity: 0;
        // margin-top: 200px;
        background-color: #006CAE;
        transition: 0.5s ease-in-out;
        padding: 100px 0px;
        @media screen and (max-width: 991px) {
            height: auto;
            padding: 75px 0px;
        }
        .container {
            max-width: 1100px;

            .col-md-6 {
                padding: 20px;
            }

            h2 {
                color: #fff;
                font-weight: 700;
                letter-spacing: 5px;
            }

            p {
                font-size: 20px;
                color: #fff;
                width: 100%;
                margin: auto;
                letter-spacing: 0px;
            }

            hr {
                color: #fff;
            }

            a {
                display: block;
                font-size: 20px;
                color: #fff;
                width: 100%;
                margin: auto;
                letter-spacing: 0px;
                text-decoration: none;
            }

            .companyinfo {
                i {
                    color: #fff;
                    font-size: 18px;
                }

                span {
                    font-size: 18px;
                }

                .company-phone {
                    &:hover {
                        .fa-phone {
                            animation: phone 1s linear;
                        }
                    }
                }

                .company-email {
                    &:hover {
                        .fa-envelope {
                            animation: email 0.5s linear;
                        }
                    }
                }

                .company-address {
                    &:hover {
                        .fa-map-marker-alt {
                            animation: location 0.5s linear;
                        }
                    }
                }
            }

            .followus {
                position: relative;

                a {
                    border: solid 2px #fff;
                    border-radius: 50%;
                    padding: 21px;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    left: 5%;

                    i {
                        color: #fff;
                        font-size: 30px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }

                    &:hover {
                        background-color: #fff;

                        i {
                            color: #000;
                        }
                    }

                    .a1 {
                        top: 20%;
                    }

                    .a2 {
                        top: 45%;
                    }

                    .a3 {
                        top: 70%;
                    }
                }

                .qrCode {
                    border-radius: 5px;
                    text-align: center;
                    overflow: hidden;

                    .text {
                        color: #fff;
                        margin: 10px;
                        font-size: 28px;
                        font-weight: 700;
                    }

                    img {
                        width: 200px;
                        border-radius: 5px;
                    }
                }
            }

            #form {
                width: 100%;

                label {
                    color: #fff;
                    margin-bottom: 10px;
                }

                .send {
                    width: 180px;
                    height: 50px;
                    text-align: center;
                    letter-spacing: 3px;
                    font-size: 18px;
                    position: relative;
                    margin: 50px auto;
                    cursor: pointer;

                    &:hover {

                        .arrowbtn2,
                        .arrowbtn3 {
                            opacity: 1;
                        }

                        &::before,
                        &::after {
                            width: calc(100% + 9px);
                            height: calc(100% + 9px);
                            opacity: 1;
                            z-index: 3;
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        -webkit-transition: 1s;
                        transition: 1s;
                        opacity: 0.5;
                        z-index: 3;
                    }

                    &::before {
                        top: -5px;
                        left: -5px;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                    }

                    &::after {
                        right: -5px;
                        bottom: -5px;
                        border-bottom: 1px solid #fff;
                        border-right: 1px solid #fff;
                    }

                    .details {
                        padding: 0 10px 0 0;
                        margin: 0;
                        height: 100%;
                        width: 100%;
                        background-color: #fff;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        z-index: 20;
                    }

                    .arrowbtn {
                        position: absolute;
                        right: 20%;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        border-top: solid 1px #000;
                        border-right: solid 1px #000;
                        -webkit-transform: translateY(-50%) rotate(45deg);
                        transform: translateY(-50%) rotate(45deg);
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                    }

                    .arrowbtn2 {
                        right: 15%;
                        opacity: 0;
                    }

                    .arrowbtn3 {
                        right: 10%;
                        opacity: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        section#contact {
            margin-top: 100px;

            .container {
                width: 90%;

                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    margin: 10px auto;
                }

                .companyinfo {
                    i {
                        font-size: 14px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        // background-color: #858585;
        color: #999999;
        padding: 40px;
        font-size: 12px;
        margin: 0;

        .footerCompany {
            text-align: right;
            padding-right: 20px;
            padding-top: 10px;

            h5 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 2px;
            }

            p {
                font-size: 12px;
                margin: 2px;
            }
        }

        .footerInfo {
            border-left: solid 1px #999999;
            padding-left: 20px;
            padding-top: 10px;
            text-align: left;

            p {
                font-size: 12px;
                margin: 8px;

                // i {
                //     color: white;
                // }
            }

            a {
                color: #999999;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 767px) {
        footer {
            padding: 40px 20px;

            .footerCompany,
            .footerInfo {
                text-align: center;
                padding: 0;
            }

            .footerCompany {
                margin-bottom: 10px;
                padding-left: 3px;
                padding-bottom: 10px;
                border-bottom: solid 1px #999999;
            }

            .footerInfo {
                border: none;
                padding-left: 0px;

            }
        }
    }

    @keyframes dropDown {
        0% {
            transform: translateY(-50px);
            // opacity: 0;
        }

        100% {
            transform: translateY(0px);
            // opacity: 1;
        }
    }

    @keyframes showBtn {
        0% {
            transform: translateY(90px);
            // opacity: 0;
        }

        90% {
            transform: translateY(-10px);
            // opacity: 1;
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes phone {
        0% {
            transform: rotateZ(30deg);
        }

        10% {
            transform: rotateZ(-30deg);
        }

        20% {
            transform: rotateZ(30deg);
        }

        30% {
            transform: rotateZ(-30deg);
        }

        40% {
            transform: rotateZ(30deg);
        }

        50% {
            transform: rotateZ(-30deg);
        }

        60% {
            transform: rotateZ(30deg);
        }

        70% {
            transform: rotateZ(-30deg);
        }

        80% {
            transform: rotateZ(30deg);
        }

        90% {
            transform: rotateZ(-30deg);
        }

        100% {
            transform: rotateZ(0deg);
        }
    }

    @keyframes email {
        0% {
            transform: translateX(-2.5px);
        }

        20% {
            transform: translateX(2.5px);
        }

        40% {
            transform: translateX(-2.5px);
        }

        60% {
            transform: translateX(2.5px);
        }

        80% {
            transform: translateX(-2.5px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @keyframes location {
        0% {
            transform: translateY(5px);
        }

        40% {
            transform: translateY(-10px);
        }

        60% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}

.show {
    opacity: 1 !important;
}

.drop-animation-1 {
    animation: dropDown 0.5s ease-in-out;
}

.drop-animation-2 {
    animation: dropDown 0.75s ease-in-out;
}

.drop-animation-3 {
    animation: dropDown 1s ease-in-out;
}

.show-btn {
    animation: showBtn 0.5s ease-in;
}

.not-show-btn {
    transform: translateY(100px);
}

.about-original{
    transform: translateX(0px) !important;
}

.change-nav {
    background-color: #0066A1 !important;

    .text-navbar li a {
        color: #fff !important;
    }

    .logoimg {
        mix-blend-mode: plus-lighter;
    }
}