body {
  position: relative;
  overflow-x: hidden;
}

body h1,
body h2,
body h3 {
  color: #006CAE;
}

@media (min-width: 576px) {
  body .container {
    max-width: 100%;
  }
}

body .nav-container {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body .nav-container nav .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .nav-container nav .container .logoimg {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body .nav-container nav .container .logoimg:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .nav-container nav .container .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

body .nav-container nav .container .navbar-collapse .nav-item {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body .nav-container nav .container .navbar-collapse .nav-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .nav-container nav .container .navbar-collapse .nav-item a {
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 20px;
}

body .nav-container nav .container .navbar-collapse .nav-item a:hover {
  color: #999999 !important;
}

@media screen and (max-width: 992px) {
  body .navbar ul li {
    text-align: center;
  }
}

body .top-btn {
  width: 70px;
  height: 70px;
  padding: 10px;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #A0E1F2;
  font-size: 26px;
  color: #192B54;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body .top-btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body section#banner {
  margin-top: 30px;
}

@media (max-width: 991px) {
  body section#banner {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  body section#banner {
    margin-top: 40px;
  }
}

body section#banner .carousel-inner .carousel-item img {
  width: 100%;
}

body section#service {
  height: 100vh;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
}

@media screen and (max-width: 991px) {
  body section#service {
    height: auto;
  }
}

@media (min-width: 576px) {
  body section#service .container {
    max-width: 90%;
  }
}

body section#service .container h3 {
  font-weight: 600;
}

body section#service .container p {
  font-size: 18px;
}

body section#service .container a {
  width: 160px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 80px);
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #999999;
  color: #FFFFFF;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 991px) {
  body section#service .container a {
    position: static;
  }
}

body section#service .container a:hover {
  background-color: #e9e9e9;
  color: #5c5c5c;
}

body section#service .container .hoverzoom {
  height: 550px;
  padding: 20px;
}

@media screen and (max-width: 1436px) {
  body section#service .container .hoverzoom {
    height: 600px;
  }
}

@media screen and (max-width: 1161px) {
  body section#service .container .hoverzoom {
    height: 650px;
  }
}

@media screen and (max-width: 991px) {
  body section#service .container .hoverzoom {
    height: auto;
    margin-bottom: 20px;
  }
}

body section#about {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body section#about {
    padding: 40px 0px;
  }
}

body section#about #about-content {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body section#about #about-img {
  padding: 0px;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body section#about img {
  height: auto;
  padding: 0px;
}

body section#about p {
  font-size: 20px;
}

body section#contact {
  background-color: #006CAE;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body section#contact .container {
  max-width: 1100px;
}

body section#contact .container .col-md-6 {
  padding: 20px;
}

body section#contact .container h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
}

body section#contact .container p {
  font-size: 20px;
  color: #fff;
  width: 100%;
  margin: auto;
  letter-spacing: 0px;
}

body section#contact .container hr {
  color: #fff;
}

body section#contact .container a {
  display: block;
  font-size: 20px;
  color: #fff;
  width: 100%;
  margin: auto;
  letter-spacing: 0px;
  text-decoration: none;
}

body section#contact .container .companyinfo i {
  color: #fff;
  font-size: 18px;
}

body section#contact .container .companyinfo span {
  font-size: 18px;
}

body section#contact .container .companyinfo .company-phone:hover .fa-phone {
  -webkit-animation: phone 1s linear;
          animation: phone 1s linear;
}

body section#contact .container .companyinfo .company-email:hover .fa-envelope {
  -webkit-animation: email 0.5s linear;
          animation: email 0.5s linear;
}

body section#contact .container .companyinfo .company-address:hover .fa-map-marker-alt {
  -webkit-animation: location 0.5s linear;
          animation: location 0.5s linear;
}

body section#contact .container .followus {
  position: relative;
}

body section#contact .container .followus a {
  border: solid 2px #fff;
  border-radius: 50%;
  padding: 21px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5%;
}

body section#contact .container .followus a i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body section#contact .container .followus a:hover {
  background-color: #fff;
}

body section#contact .container .followus a:hover i {
  color: #000;
}

body section#contact .container .followus a .a1 {
  top: 20%;
}

body section#contact .container .followus a .a2 {
  top: 45%;
}

body section#contact .container .followus a .a3 {
  top: 70%;
}

body section#contact .container .followus .qrCode {
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

body section#contact .container .followus .qrCode .text {
  color: #fff;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
}

body section#contact .container .followus .qrCode img {
  width: 200px;
  border-radius: 5px;
}

body section#contact .container #form {
  width: 100%;
}

body section#contact .container #form label {
  color: #fff;
  margin-bottom: 10px;
}

body section#contact .container #form .send {
  width: 180px;
  height: 50px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 18px;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
}

body section#contact .container #form .send:hover .arrowbtn2,
body section#contact .container #form .send:hover .arrowbtn3 {
  opacity: 1;
}

body section#contact .container #form .send:hover::before, body section#contact .container #form .send:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  opacity: 1;
  z-index: 3;
}

body section#contact .container #form .send::before, body section#contact .container #form .send::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.5;
  z-index: 3;
}

body section#contact .container #form .send::before {
  top: -5px;
  left: -5px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

body section#contact .container #form .send::after {
  right: -5px;
  bottom: -5px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

body section#contact .container #form .send .details {
  padding: 0 10px 0 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
}

body section#contact .container #form .send .arrowbtn {
  position: absolute;
  right: 20%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body section#contact .container #form .send .arrowbtn2 {
  right: 15%;
  opacity: 0;
}

body section#contact .container #form .send .arrowbtn3 {
  right: 10%;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  body section#contact {
    margin-top: 100px;
  }
  body section#contact .container {
    width: 90%;
  }
  body section#contact .container h2 {
    font-size: 20px;
  }
  body section#contact .container p {
    font-size: 14px;
    margin: 10px auto;
  }
  body section#contact .container .companyinfo i {
    font-size: 14px;
  }
  body section#contact .container .companyinfo span {
    font-size: 14px;
  }
}

body footer {
  color: #999999;
  padding: 40px;
  font-size: 12px;
  margin: 0;
}

body footer .footerCompany {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

body footer .footerCompany h5 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
}

body footer .footerCompany p {
  font-size: 12px;
  margin: 2px;
}

body footer .footerInfo {
  border-left: solid 1px #999999;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
}

body footer .footerInfo p {
  font-size: 12px;
  margin: 8px;
}

body footer .footerInfo a {
  color: #999999;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  body footer {
    padding: 40px 20px;
  }
  body footer .footerCompany,
  body footer .footerInfo {
    text-align: center;
    padding: 0;
  }
  body footer .footerCompany {
    margin-bottom: 10px;
    padding-left: 3px;
    padding-bottom: 10px;
    border-bottom: solid 1px #999999;
  }
  body footer .footerInfo {
    border: none;
    padding-left: 0px;
  }
}

@-webkit-keyframes dropDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes showBtn {
  0% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes showBtn {
  0% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes phone {
  0% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  30% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  40% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  50% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  60% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  80% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  90% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes phone {
  0% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  30% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  40% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  50% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  60% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  80% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  90% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes email {
  0% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  20% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  40% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  60% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  80% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes email {
  0% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  20% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  40% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  60% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  80% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes location {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes location {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.show {
  opacity: 1 !important;
}

.drop-animation-1 {
  -webkit-animation: dropDown 0.5s ease-in-out;
          animation: dropDown 0.5s ease-in-out;
}

.drop-animation-2 {
  -webkit-animation: dropDown 0.75s ease-in-out;
          animation: dropDown 0.75s ease-in-out;
}

.drop-animation-3 {
  -webkit-animation: dropDown 1s ease-in-out;
          animation: dropDown 1s ease-in-out;
}

.show-btn {
  -webkit-animation: showBtn 0.5s ease-in;
          animation: showBtn 0.5s ease-in;
}

.not-show-btn {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.about-original {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.change-nav {
  background-color: #0066A1 !important;
}

.change-nav .text-navbar li a {
  color: #fff !important;
}

.change-nav .logoimg {
  mix-blend-mode: plus-lighter;
}
/*# sourceMappingURL=index.css.map */