body {
    position: relative;
    overflow-x: hidden;

    h1,
    h2,
    h3 {
        color: #006cae;
    }

    .container {
        @media (min-width: 576px) {
            max-width: 100%;
        }
    }

    .nav-container {
        width: 100%;
        position: fixed;
        background-color: #fff;
        z-index: 3;
        top: 0;
        transition: 0.5s ease-in-out;

        nav {
            .container {
                justify-content: space-between;
                padding: 0px 50px;
                @media (max-width: 991px) {
                    padding: 0px 10px;
                }
                .logoimg {
                    transition: 0.5s ease-in-out;

                    &:hover {
                        transform: translateY(-5px);
                    }
                }

                .navbar-collapse {
                    flex-grow: 0;

                    .nav-item {
                        transition: 0.5s ease-in-out;

                        &:hover {
                            transform: translateY(-5px);
                        }

                        a {
                            font-size: 18px;
                            text-decoration: none;
                            transition: 0.5s ease-in-out;
                            padding: 20px;

                            &:hover {
                                color: #999999 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .navbar {
            ul {
                li {
                    text-align: center;
                }
            }
        }
    }
}
